%header
  - if user_signed_in?
    %div
      テストユーザー
    %div
      = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    %div
      = link_to image_tag('logo.png', alt: 'mschool' ), "#"
      = link_to "ログイン", new_user_session_path
      = link_to "新規登録", new_user_registration_path